/* Coolors Exported Palette - https://coolors.co/efe9dc-cbc3b7-eee8db-a49c92-2a2520-9c3d3b */

/* CSS HEX */
--soft-linen: #efe9dcff;
--dust-grey: #cbc3b7ff;
--soft-linen-2: #eee8dbff;
--grey-olive: #a49c92ff;
--carbon-black: #2a2520ff;
--brown-red: #9c3d3bff;

/* CSS HSL */
--soft-linen: hsla(41, 37%, 90%, 1);
--dust-grey: hsla(36, 16%, 76%, 1);
--soft-linen-2: hsla(41, 36%, 90%, 1);
--grey-olive: hsla(33, 9%, 61%, 1);
--carbon-black: hsla(30, 14%, 15%, 1);
--brown-red: hsla(1, 45%, 42%, 1);

/* SCSS HEX */
$soft-linen: #efe9dcff;
$dust-grey: #cbc3b7ff;
$soft-linen-2: #eee8dbff;
$grey-olive: #a49c92ff;
$carbon-black: #2a2520ff;
$brown-red: #9c3d3bff;

/* SCSS HSL */
$soft-linen: hsla(41, 37%, 90%, 1);
$dust-grey: hsla(36, 16%, 76%, 1);
$soft-linen-2: hsla(41, 36%, 90%, 1);
$grey-olive: hsla(33, 9%, 61%, 1);
$carbon-black: hsla(30, 14%, 15%, 1);
$brown-red: hsla(1, 45%, 42%, 1);

/* SCSS RGB */
$soft-linen: rgba(239, 233, 220, 1);
$dust-grey: rgba(203, 195, 183, 1);
$soft-linen-2: rgba(238, 232, 219, 1);
$grey-olive: rgba(164, 156, 146, 1);
$carbon-black: rgba(42, 37, 32, 1);
$brown-red: rgba(156, 61, 59, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-right: linear-gradient(90deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-bottom: linear-gradient(180deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-left: linear-gradient(270deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-top-right: linear-gradient(45deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-bottom-right: linear-gradient(135deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-top-left: linear-gradient(225deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-bottom-left: linear-gradient(315deg, #efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);
$gradient-radial: radial-gradient(#efe9dcff, #cbc3b7ff, #eee8dbff, #a49c92ff, #2a2520ff, #9c3d3bff);