/* Coolors Exported Palette - https://coolors.co/eae4e9-fff1e6-fde2e4-fad2e1-e2ece9-bee1e6-f0efeb-dfe7fd-cddafd */

/* CSS HEX */
--lavender-mist: #eae4e9ff;
--linen: #fff1e6ff;
--soft-blush: #fde2e4ff;
--petal-frost: #fad2e1ff;
--mint-cream: #e2ece9ff;
--light-blue: #bee1e6ff;
--parchment: #f0efebff;
--lavender: #dfe7fdff;
--periwinkle: #cddafdff;

/* CSS HSL */
--lavender-mist: hsla(310, 12%, 91%, 1);
--linen: hsla(26, 100%, 95%, 1);
--soft-blush: hsla(356, 87%, 94%, 1);
--petal-frost: hsla(338, 80%, 90%, 1);
--mint-cream: hsla(162, 21%, 91%, 1);
--light-blue: hsla(188, 44%, 82%, 1);
--parchment: hsla(48, 14%, 93%, 1);
--lavender: hsla(224, 88%, 93%, 1);
--periwinkle: hsla(224, 92%, 90%, 1);

/* SCSS HEX */
$lavender-mist: #eae4e9ff;
$linen: #fff1e6ff;
$soft-blush: #fde2e4ff;
$petal-frost: #fad2e1ff;
$mint-cream: #e2ece9ff;
$light-blue: #bee1e6ff;
$parchment: #f0efebff;
$lavender: #dfe7fdff;
$periwinkle: #cddafdff;

/* SCSS HSL */
$lavender-mist: hsla(310, 12%, 91%, 1);
$linen: hsla(26, 100%, 95%, 1);
$soft-blush: hsla(356, 87%, 94%, 1);
$petal-frost: hsla(338, 80%, 90%, 1);
$mint-cream: hsla(162, 21%, 91%, 1);
$light-blue: hsla(188, 44%, 82%, 1);
$parchment: hsla(48, 14%, 93%, 1);
$lavender: hsla(224, 88%, 93%, 1);
$periwinkle: hsla(224, 92%, 90%, 1);

/* SCSS RGB */
$lavender-mist: rgba(234, 228, 233, 1);
$linen: rgba(255, 241, 230, 1);
$soft-blush: rgba(253, 226, 228, 1);
$petal-frost: rgba(250, 210, 225, 1);
$mint-cream: rgba(226, 236, 233, 1);
$light-blue: rgba(190, 225, 230, 1);
$parchment: rgba(240, 239, 235, 1);
$lavender: rgba(223, 231, 253, 1);
$periwinkle: rgba(205, 218, 253, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-right: linear-gradient(90deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-bottom: linear-gradient(180deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-left: linear-gradient(270deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-top-right: linear-gradient(45deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-bottom-right: linear-gradient(135deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-top-left: linear-gradient(225deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-bottom-left: linear-gradient(315deg, #eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);
$gradient-radial: radial-gradient(#eae4e9ff, #fff1e6ff, #fde2e4ff, #fad2e1ff, #e2ece9ff, #bee1e6ff, #f0efebff, #dfe7fdff, #cddafdff);